{% extends "kufiBattleshipBundle:Layouts:layout.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('bundles/battleships/scripts/index.js') }}" type="text/javascript"></script>
{% endblock %}

{% block controlPanel %}
    <div id="cssSelector">
        <label>
            Change layout: 
        </label>
        <select>
            <option value="blue">Blue Layout</option>
            {% if(app.session.get("cssStyle") == "green") %}
                <option value="green" selected="selected">Green Layout</option>
            {% else %}
                <option value="green">Green Layout</option>
            {% endif %}
        </select>
    </div>
{% endblock %}

{% block body %}
	<div id="mainScreen">
		<div>
			<a href="{{ path("bs_sp_forceNew") }}">
			    <img src="{{ asset("bundles/battleships/images/singleplayer.png") }}" style="width:20px;height:20px;" />
			    Singleplayer
			</a>
		</div>
		<div>
			<a href="{{ path("bs_mp_lobby") }}">
			    <img src="{{ asset("bundles/battleships/images/multiplayer.png") }}" style="width:20px;height:20px;" />
			    Multiplayer
		    </a>
		</div>
		
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<div>
				<a href="{{ path("bs_statistics") }}">Statistics</a>
			</div>
			<div>
				<a href="{{ path("bs_logout") }}">Logout</a>
			</div>
		{% else %}
			<div>
				<a href="{{ path("bs_login") }}">Login</a>
			</div>
		{% endif %}
		
	</div>
{% endblock %}